<app-post-login-header></app-post-login-header>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="auction.component.css">
</head>
<body>   

<!-- Navbar -->
    <!-- Body Header -->
    <div class="container mt-5">
        <div class="text-start mb-4">
            <h1 class="p-4">AUCTION</h1>
        </div>
    </div>

    <!-- Main body -->
    <div class="container">
        <form [formGroup]="formdata">
        <div class="card p-3 mb-4" style="border: 2px solid #000;">
            <div class="d-flex flex-column flex-md-row">    
                <div class="item-image mr-3">
                    <img src={{itemDetails?.itemPhoto}} class="img-fluid" alt="Samsung Earbuds">
                </div>
                <div class="d-flex flex-column w-100 custom-padding">
                    <div class="auctiondetail">
                        <p>NAME OF ITEM</p>
                        <h4>{{itemDetails?.itemName}}</h4>
                        <hr class="my-4" style="border: 1px solid #000;"> 
                    </div>
                    <div class="auctiondetail">
                        <p>MAKER OF THE ITEM</p>
                        <h4>{{itemDetails?.itemMaker}}</h4>
                        <hr class="my-4" style="border: 1px solid #000;"> 
                    </div>
                    <div class="d-flex flex-column flex-md-row w-100">
                        <div class="auctiondetail">
                            <p>ORIGINAL PRICE</p>
                            <h4>${{itemDetails?.pricePaid}}</h4>
                            <hr class="my-4" style="border: 1px solid #000;"> 
                        </div>
                        <div class="auctiondetail">
                            <p>CONDITION</p>
                            <h4>{{itemDetails?.itemCondition}}</h4>
                            <hr class="my-4" style="border: 1px solid #000;"> 
                        </div>
                        <div class="auctiondetail">
                            <p>INITIAL BIDDING PRICE</p>
                            <h4>${{itemDetails?.minBidAmount}}</h4>
                            <hr class="my-4" style="border: 1px solid #000;"> 
                        </div>
                        <div class="auctiondetail">
                            <p>CURRENT BID</p>
                            <h4>${{ formdata.get('currentBid')?.value}}</h4>
                            <hr class="my-4" style="border: 1px solid #000;"> 
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- AUCTION NOT STARTED -->

            <div class="d-flex flex-column" *ngIf="!isAuctionStarted">
                <div class="auctiondetail">
                    <p style="font-weight: bold; padding-bottom: 10px;">AUCTION TIME:  
                       <span style="font-weight: lighter; padding-bottom: 10px;">
                        {{startTime?.getDate()}} /
                        {{startMonth}} /
                        {{startTime?.getFullYear()}}
                        {{startTime?.getHours()}}:{{startTime?.getMinutes()}}
                       </span> 
                         
                         <span style="font-weight: bold; padding-bottom: 10px;">{{ countdown }}</span>
                        </p>

                </div>
                <!-- <div class="countdown-timer">
                    
                  </div> -->
                
            </div>

            <!-- AUCTION STARTED -->

            <div class="d-flex flex-column" *ngIf="isAuctionStarted">
                <div class="auctiondetail">
                    <p style="font-weight: bold; padding-bottom: 10px;">BIDDING ENDS IN {{countdown}} MINS!</p>
                </div>
                <div class="auctiondetail">  
                    <p>ACCOUNT BALANCE</p>
                    <h4>${{funds}}</h4>
                </div>
                <div class="d-flex flex-md-row auctiondetail">
                    <label for="initialBidPrice">ENTER YOUR BID AMOUNT</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control auctiondetail" formControlName = "bid"  id="initialBidPrice">
                    </div>
                </div>
                <div class="button-container justify-content-start auctiondetail">
                    <button class="btn btn-outline-dark mr-2" *ngIf="!isSubscribed" (click)="subscribe()">Participate Now</button>
                    <button class="btn btn-outline-dark mr-2" *ngIf="isSubscribed" (click)="bid()">PLACE YOUR BID</button>
                </div>
            </div>

        </div>
    </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


<!-- Footer -->
<app-footer></app-footer>