<app-post-login-header></app-post-login-header>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELLER PORTAL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="seller-portal.component.css">
</head>
<body>   

<!-- Body Header -->
    <div class="container mt-5">
        <div class="text-start mb-4">
            <h1 class="d-flex justify-content-between align-items-center p-3" style="border: 2px solid #000; font-weight: 700; font-size: 1.5rem;">SELLER PORTAL <a class="btn btn-outline-dark" href="/itemCategory">+ ADD ITEM</a></h1>
        </div>
    </div>

<!-- Main Body -->
    <div class="container" *ngIf="items.data != ''">
        <div class="card p-3 mb-4" *ngFor="let item of items.data" style="border: 2px solid #000;">
            <!-- <hr class="my-4" style="border: 1px solid #000;">  -->
            <div class="d-flex flex-column flex-md-row">    
                <div class="item-image mr-3">
                    <img [src]="item.itemPhoto" class="img-fluid" [alt]="item.itemName">
                </div>
                <div class="d-flex flex-column w-100">
                    <div class="item-details w-100 d-flex justify-content-between flex-column flex-lg-row">
                        <div class="detail custom-padding">
                            <p>NAME OF ITEM</p>
                            <h4>{{ item.itemName }}</h4>
                            <hr class="my-4" style="border: 1px solid #000;"> 
                        </div>
                        <div class="detail">
                            <p>MAKER OF THE ITEM</p>
                            <h4>{{ item.itemMaker }}</h4>
                            <hr class="my-4" style="border: 1px solid #000;"> 
                        </div>
                        <div class="detail">
                            <p>PRICE PAID</p>
                            <h4>{{ item.pricePaid}} | {{item.currency }}</h4>
                            <hr class="my-4" style="border: 1px solid #000;"> 
                        </div>
                        <div class="detail">
                            <p>BID AMOUNT</p>
                            <h4>{{ item.minBidAmount}} | {{item.currency }}</h4>
                            <hr class="my-4" style="border: 1px solid #000;"> 
                        </div>
                        <div class="detail">
                            <p>DATE OF AUCTION</p>
                            <h4>{{ item.startTime | date:'MM/dd/yyyy' }}</h4>
                            <hr class="my-4" style="border: 1px solid #000;"> 
                        </div>
                        <div class="detail">
                            <p>TIME OF AUCTION</p>
                            <h4>{{ item.startTime | date: 'h:mm a' }}</h4>
                            <hr class="my-4" style="border: 1px solid #000;"> 
                        </div>
                    </div>
                    <div class="button-container justify-content-start">
                        <button *ngIf="item.auctionEnded && item.soldPrice != null" class="btn btn-outline-dark mr-2" >SOLD</button>
                        <button *ngIf="item.auctionEnded && item.soldPrice == null" class="btn btn-outline-dark mr-2" >UNSOLD</button>
                        <button *ngIf="!item.auctionEnded" class="btn btn-outline-dark" (click)="deleteItem(item.itemId)">DELETE</button>
                    </div>
                </div>
            </div>
            <!-- <hr class="my-4" style="border: 1px solid #000;"> -->
        </div>
    </div>

    <!-- <ng-template #noItems> -->
        <div *ngIf="items.data == ''" class="container" style="margin-bottom: 16px;">
            <div class="main-content text-center">
                <h1>THERE'S NOTHING HERE TO SEE</h1>
                <h3>Post a new item to get started</h3>
                <h6>Check the <a href="#">DEMO AUCTION</a> if you are new here</h6>
            </div>
        </div>
    <!-- </ng-template> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<app-footer></app-footer>
